@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Kanit', sans-serif;
}

section {
    font-family: 'Kanit', sans-serif;
}

.header {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #000000;
}


.subheader {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 25px;
   
}

.heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
}



.mainac {
    padding-top: 96px;
    padding-bottom: 96px;
}

body {
    background-color: #fcf0de;
}

.bgmain {
    padding-top: 3rem;
    padding-bottom: 0;
    background-color: #ffffff;
}

.card-title {
    font-family: 'Kanit', sans-serif;
}

h2 {
    font-family: 'Kanit', sans-serif;
}

.card-text {
    font-size: 28px;
}

#tt {
    font-size: 32px;
    font-weight:600;
    margin-bottom:24px;
}

#desc {
    font-size: 20px;
    font-weight:lighter;
    margin-bottom:48px;
}


#title{
    font-size:28px;
    font-weight:600;
}

#disc {
    font-size:20px;
    font-weight:lighter;
}

.widget-container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
