@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

section {
    font-family: 'Kanit', sans-serif;
}

.header {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #000000;
}


.subheader {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
}

.heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    
}



.mainac {
    padding-top: 96px;
    padding-bottom: 96px;
    
}

body {
    background-color: #fcf0de;
}

.bgmain {
    padding-top: 3rem;
    padding-bottom: 0;
    background-color: #ffffff;
}

.px-4 {
    padding-right: 0 !important;
    padding-left: 0 !important; 
}

h2 {
    font-family: 'Kanit', sans-serif;
}

p {
    font-family: 'Kanit', sans-serif;
}


.card-title {
    font-family: 'Kanit', sans-serif;
    font-size:32px;
    font-weight:600;
    margin-bottom:0;
    padding-bottom:24px;
    padding-top:24px;
}


.widget-container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

#resttt {
    font-size:32px;
    font-weight:600;
    margin-bottom:0;
}

#dc {
    font-size: 20px;
    font-weight: lighter;
    color: #4D2718;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top:24px;
    padding-bottom:48px;
    margin-bottom:0;
}

@media (max-width: 992px) {
    #dc {
        padding-left: 0;
        padding-right: 0;
    }
}